<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <img src="../assets/RS.png" width="150px" length="150px"/>
  <h1>RxJS showcase</h1>
  <div class="data">
    {{ data }}
  </div>
  <div class="input">
    <input placeholder="input text" type="text" [ngModel]="text" (ngModelChange)="inputText.next($event)"/>
    <br>
    <button (click)="buttonOne.next('One')">1</button>
    <button (click)="buttonTwo.next('Two')">2</button>
    <button (click)="buttonThree.next('Three')">3</button>
    <br>
    <button (click)="getWisdom()">Get Wise Quote</button>
    <br>
  </div>
</div>


